[submodule "libs/glfwpp"]
	path = libs/glfwpp
	url = git@github.com:janekb04/glfwpp.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/stb"]
	path = libs/stb
	url = git@github.com:nothings/stb.git
[submodule "libs/doctest"]
	path = libs/doctest
	url = git@github.com:doctest/doctest.git
[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:icaven/glm.git
